// Colors
$o-community-color-dark: #002434;
$o-community-color: #264c5e;
$o-community-color-light: #53788b;

$o-community-primary-color-dark: #b75200;
$o-community-primary-color: #f08013;
$o-community-primary-color-light: #ffb04a;

$o-enterprise-color: $o-community-color;
$o-enterprise-primary-color: $o-community-primary-color;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-primary-color;
